
.mainheader {padding:50px 0 0px 0;	
  color:#000000; 
  text-align:left;
  border-bottom-style:solid;
  border-bottom-width:5px;
  border-bottom-color:#000000;
  margin-bottom:-10px;}

.infograph{
  margin-bottom:40px;
}

.byline{
  margin-left:20px;
}


.body {margin-right:10px;}

h1 {font-family: 'Playfair Display', serif;}

h2 {font-family: 'Playfair Display', serif;}

h3 {font-family: 'Playfair Display', serif;}

h4 {font-family: 'Playfair Display', serif;}

h5 {font-family: 'Nunito Sans', sans-serif;}

h6 {font-family: 'Nunito Sans', sans-serif;}

p {font-family: 'Nunito Sans', sans-serif;}


 .firstcharacter {
  color: #33a423;
  float: left;
  font-family: Playfair Display;
  font-size: 50px;
  line-height: 30px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}


