h1 {font-family: 'Abril Fatface', cursive;}

h2 {font-family: 'Abril Fatface', cursive;}

h3 {font-family: 'Lato', sans-serif;}

p {font-family: 'Lato', sans-serif;}

.title {margin-top: 20px; margin-bottom:20px; background-color:#fdc2cd;}

.juxtapose2 {margin-left: 30px;}

.timeline2 {margin-left:30px;}